@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v26-cyrillic_latin-regular.woff2') format('woff2');}
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nunito-v26-cyrillic_latin-700.woff2') format('woff2');}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    font-family: Nunito, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color:transparent;
    min-width: 320px;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.4;
    color: #221f1f;
}

.body--gift {
    background: #B5EAE9 url(../img/bg/main.jpeg) center/cover;
}

.body--congratulation {
    background: #F9AAAA url(../img/bg/congratulations_bg.jpeg) center/cover;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}
.header {
    padding: 40px 0;
}

.header__logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.gift {
    padding: 20px 0 80px 0;
}

.gift__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 16px;
}

.gift__desc {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 50px;
}

.gift__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.gift__card {
    max-width: 580px;
}

.gift__swipper--card {
    margin-bottom: 20px;
}

.gift__card-slide {
    border-radius: 20px;
    border: 2px solid #4BAA00;
    overflow: hidden;
    box-sizing: border-box;
}

.gift__card-image {
    display: block;
    height: auto;
    width: 100%;
}

.gift__card-thumb {
    border-radius: 10px;
    overflow: hidden;
}

.gift__form {
    max-width: 480px;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-items: start;
}

.form__label {
    width: 100%;
}

.form__label-text {
    display: block;
    margin-bottom: 4px;
}

.form__field {
    font: inherit;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #DEDEDE;
    background-color: #FBFBFB;
    padding: 8px 16px;
    outline: none;
}

.form__field:hover,
.form__field:focus-visible,
.form__field:active {
    border-color: #999;
}

.form__label--textarea {
    grid-column: 1/ -1;
}

.form__field--textarea {
    resize: vertical;
    min-height: 150px;
}

.form__button {
    padding: 8px 24px;
    border-radius: 32px;
    background-color: #4BAA00;
    border: 1px solid transparent;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-weight: 700;
}

.form__button:hover:not(:disabled) {
    background-color: #58C601;
}

.form__button:focus-visible {
    border-color: #58C601;
}

.form__button:active:not(:disabled) {
    transform: translate(2px, 2px);
}

.form__button:disabled {
    opacity: 0.4;
    background: #4BAA00;
}

.congratulation {
}

.congratulation__title {
}

.congratulation__descr {
}

.congratulation__card {
}

.card {
}

.card__inner {
}

.card__front {
}

.gift__card-image {
}

.card__back {
}

.card__title {
}

.card__detail {
}

.card__subtitle {
}

.card__from {
}

.card__to {
}

.card__message {
}